@using RedWallet.WebMVC.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    <div id="wrapper">
        @Html.Partial("_Sidebar")
        @Html.Partial("_Content")
    </div>
    

}
else
{
    @Html.Action("Login", "Account")
}



