
<div id="page-content-wrapper">
    <!-- Page Content -->
    <div class="container-fluid">
        <a href="#menu-toggle" class="btn bg-danger text-white shadow mb-3" id="menu-toggle"><i class="fas fa-bars"></i>  Menu</a>
        <p>
            This is just some random text to take up the whole page and see if the page size is changing with the side bar expansion.
            This is just some random text to take up the whole page and see if the page size is changing with the side bar expansion.
            This is just some random text to take up the whole page and see if the page size is changing with the side bar expansion.
            This is just some random text to take up the whole page and see if the page size is changing with the side bar expansion.
            This is just some random text to take up the whole page and see if the page size is changing with the side bar expansion.
        </p>


    </div>
</div>
<!-- /#page-content-wrapper -->
