<!-- Content -->


<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <a href="#" class="btn bg-danger text-white shadow m-2" id="menu-toggle"><i class="fas fa-bars"></i>  Menu</a>


                <!-- Stuff in the dashboard -->

            </div>
        </div>
    </div>
</div>



