<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="nav-item">
                @Html.Partial("_LoginPartial")
            </li>
            <li class="nav-item">
                <a href="#">
                    <i class="fab fa-bitcoin"></i>
                    @Html.ActionLink("Dashboard", "Index", "Dashboard")
                </a>               
            </li>
            <li class="nav-item">
                <a href="#">
                    <i class="fas fa-arrow-up"></i>
                    @Html.ActionLink("Send", "Index", "Send", new { walletId = 5 }, new { })
                </a>    
            </li>
            <li class="nav-item">
                <a href="#">
                    <i class="fas fa-arrow-down"></i>
                    @Html.ActionLink("Receive", "Index", "Request", new { walletId = 5 }, new { })
                </a>                
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    
</div>


